.home-content {
    padding: 0;
}

.header-logo-small {
    height: 5em;
    display: inline;
}

.project-name {
    font-size: 3em;
    font-weight: bold;
    color: #a8630e;
    display: inline;
}

.main-content {
    margin-top: 2em;
}

.main-content h1 {
    border-bottom: 2px solid #ff8c00;
}

.main-content h2::before {
    content: "■";
    color: #ff8c00;
    margin-right: 0.5em;
}

.main-content section h1 {
    border-bottom: none;
}

.main-content section h2::after {
    content: "■";
    color: #ff8c00;
    margin-left: 0.5em;
}

nav ul li {
    margin: 0 1rem;
}

.page-selected {
    color: #a8630e;
}

section h1 {
    color: #111111 !important;
    font-size: 2em;
    font-weight: bold !important;
}

.detail {
    text-align: left;
}

section.sub {
    margin-top: 2em;
}

section.sub h2 {
    text-align: center;
}

section.sub .detail {
    text-align: right;
    margin-right: 0.5em;
}

section h2 {
    color: #111111 !important;
    border-bottom: 1px solid #eee;
}

footer.site-footer {
    text-align: center;
    margin-bottom: 2em;
}
