---
layout: base
---

<header class="page-header" role="banner">
  <a href="{{ "/index.html" | relative_url }}"><img class="header-logo-small" src="{{ "/assets/images/logo-small.png" | relative_url }}"></a>
  <h1 class="project-name">ニュース</h1>
  <nav>
    <ul>
      <li><a href="{{ "/index.html" | relative_url }}">トップページ</a></li>
      <li><a href="{{ "/about.html" | relative_url }}">赤ちゃんラボ5.0について</a></li>
      <li><a href="{{ "/news.html" | relative_url }}">ニュース</a></li>
      <li><a href="{{ "/activity.html" | relative_url }}">活動情報/資料</a></li>
      <li><a href="{{ "/join.html" | relative_url }}">ご協力のお願い</a></li>
      <li><a href="{{ "/faq.html" | relative_url }}">FAQ(よくあるご質問)</a></li>
      <li><a href="{{ "/contact.html" | relative_url }}">お問い合わせ</a></li>
    </ul>
  </nav>
</header>

<main id="content" class="main-content" role="main">

  {{ content }}
</main>
